.cursor {
position: fixed;
pointer-events: none;
opacity: 0;
}

.cursor-bee {
top: -75px;
left: -75px;
z-index: -1;
}

.carousel-indicators [data-bs-target]{
    height: 15px !important;
    width: 15px !important;
    border: none !important;
    border-radius: 35px !important;
}
.carousel-indicators{
    bottom: -35px!important;
}